* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

body {
  background-color: #f5f5fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif";
}

.bg-primary {
  background-color: #ffc927;
  color: #000;
}

.btn {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.5s;
}
.btn:hover {
  cursor: pointer;
  background-color: red;
}
.btn.btn-primary {
  background-color: #ffc927;
  color: #000;
}
.btn.btn-primary:hover {
  background-color: red;
}

/* navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
nav a {
  text-decoration: none;
  color: #46586a;
}
nav .brand {
  height: 80px;
  line-height: 80px;
  padding-left: 1.5rem;
  width: 300px;
  border-right: 1px solid #dfdfdf;
}
nav .brand .brand-logo {
  font-size: 2.5rem;
  font-family: "Bree Serif";
}
nav ul li {
  display: inline-block;
}
nav ul li:first-child {
  border-right: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
}
nav ul li a {
  display: block;
  height: 80px;
  line-height: 80px;
  padding: 0 1.5rem;
  color: #46586a;
}
nav ul li a.bg-primary {
  font-weight: bold;
  text-transform: capitalize;
}

/* content */
.content {
  display: flex;
  flex-direction: row;
}

/* sidebar */
.sidebar {
  width: calc(300px - 1.5rem);
  padding: 2rem 1.5rem;
}
.sidebar h4 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  color: #bbbbbb;
  margin-bottom: 15px;
}
.sidebar ul.categories li {
  list-style-type: none;
  height: 50px;
  line-height: 50px;
}
.sidebar ul.categories li a {
  text-decoration: none;
  color: #757e88;
  text-transform: capitalize;
  font-size: 18px;
  transition: all 0.5s;
}
.sidebar ul.categories li a:hover {
  color: #46586a;
}
.sidebar ul.categories li a i {
  width: 42px;
  font-size: 22px;
}

/* main content */
.main-content {
  background-color: #d5d8e3;
  z-index: -1;
  width: 100%;
  /* search bar */
}
.main-content .hero {
  background: url("https://images.pexels.com/photos/749353/pexels-photo-749353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 1;
}
.main-content .hero:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.main-content .hero h1 {
  text-transform: capitalize;
  font-size: 3.5rem;
  margin-bottom: 10px;
}
.main-content .hero h2 {
  font-family: "Lato";
  font-weight: normal;
  width: 60%;
  text-align: center;
}
.main-content .search-bar {
  width: 70%;
  margin: auto;
  z-index: 5;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  position: relative;
  top: -40px;
}
.main-content .search-bar form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-content .search-bar form .input-field:first-child {
  width: 50%;
}
.main-content .search-bar form .input-field:nth-child(2) {
  width: 30%;
}
.main-content .search-bar form .input-field:last-child {
  width: 20%;
  text-align: right;
}

/* form */
form input[type=text] {
  border: none;
  outline: none;
  border: 1px solid #dfdfdf;
  padding: 1rem 1rem;
  font-size: 18px;
  width: calc(100% - 2rem);
  margin-bottom: 10px;
}

/*# sourceMappingURL=app.css.map */
