$primary-color: #ffc927;
$body-bg: #f5f5fa;

* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

body {
  background-color: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif";
}

.bg-primary {
  background-color: $primary-color;
  color: #000;
}

/* navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);

  a {
    text-decoration: none;
    color: #46586a;
  }

  .brand {
    height: 80px;
    line-height: 80px;
    padding-left: 1.5rem;
    width: 300px;
    border-right: 1px solid #dfdfdf;

    .brand-logo {
      font-size: 2.5rem;
      font-family: "Bree Serif";
    }
  }

  ul {
    li {
      display: inline-block;

      &:first-child {
        border-right: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
      }

      a {
        display: block;
        // background-color: yellow;

        height: 80px;
        line-height: 80px;
        padding: 0 1.5rem;
        color: #46586a;

        &.bg-primary {
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
  }
}

/* sidebar */
.sidebar {
  width: calc(300px - 1.5rem);
  padding: 2rem 1.5rem;
  // background-color: red;

  h4 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    color: #bbbbbb;
    margin-bottom: 15px;
  }

  ul.categories {
    li {
      list-style-type: none;
      height: 50px;
      line-height: 50px;

      a {
        text-decoration: none;
        color: rgb(117, 126, 136);
        text-transform: capitalize;
        font-size: 18px;
        transition: all .5s;

        &:hover {
          color: #46586A;
        }

        i {
          width: 42px;
          font-size: 22px;
        }
      }
    }
  }
}
