$primary-color: #ffc927;
$body-bg: #f5f5fa;

* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

body {
  background-color: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif";
}

.bg-primary {
  background-color: $primary-color;
  color: #000;
}

.btn {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    background-color: red;
  }

  &.btn-primary {
    background-color: $primary-color;
    color: #000;

    &:hover {
      background-color: darken($color: $primary-color, $amount: 10%);
    }
  }
}

/* navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  z-index: 2;

  a {
    text-decoration: none;
    color: #46586a;
  }

  .brand {
    height: 80px;
    line-height: 80px;
    padding-left: 1.5rem;
    width: 300px;
    border-right: 1px solid #dfdfdf;

    .brand-logo {
      font-size: 2.5rem;
      font-family: "Bree Serif";
    }
  }

  ul {
    li {
      display: inline-block;

      &:first-child {
        border-right: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
      }

      a {
        display: block;
        // background-color: yellow;

        height: 80px;
        line-height: 80px;
        padding: 0 1.5rem;
        color: #46586a;

        &.bg-primary {
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
  }
}

/* content */
.content {
  display: flex;
  flex-direction: row;
}

/* sidebar */
.sidebar {
  width: calc(300px - 1.5rem);
  padding: 2rem 1.5rem;
  // background-color: red;

  h4 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    color: #bbbbbb;
    margin-bottom: 15px;
  }

  ul.categories {
    li {
      list-style-type: none;
      height: 50px;
      line-height: 50px;

      a {
        text-decoration: none;
        color: rgb(117, 126, 136);
        text-transform: capitalize;
        font-size: 18px;
        transition: all 0.5s;

        &:hover {
          color: #46586a;
        }

        i {
          width: 42px;
          font-size: 22px;
        }
      }
    }
  }
}

/* main content */
.main-content {
  background-color: #e2e5ee;
  z-index: 1;
  width: 100%;

  .hero {
    background: url("https://images.pexels.com/photos/749353/pexels-photo-749353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 1;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      z-index: -1;
    }

    h1 {
      text-transform: capitalize;
      font-size: 3.5rem;
      margin-bottom: 10px;
    }

    h2 {
      font-family: "Lato";
      font-weight: normal;
      width: 60%;
      text-align: center;
    }
  }

  /* search bar */
  .search-bar {
    width: 70%;
    margin: auto;
    z-index: 5;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 3px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    position: relative;
    top: -40px;

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .input-field:first-child {
        width: 50%;
      }

      .input-field:nth-child(2) {
        width: 30%;
      }

      .input-field:last-child {
        width: 20%;
        text-align: right;
      }
    }
  }

  /* section */
  .section {
    padding: 2rem;

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    .list {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}

/* list */
.list {
  display: flex;
  flex-wrap: wrap;
}

/* cards */
.card {
  margin: 20px;
  width: 300px;

  .card-image {
    width: 100%;
    height: 340px;
    background: url("");
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-radius: 3px;
  }

  .card-infos {
    background-color: #fff;
    width: calc(95% - 2rem);
    margin: auto;
    padding: 1rem;
    position: relative;
    top: -40px;
    border-radius: 7px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

    span.title {
      display: block;
      font-size: 1.5rem;
      margin-bottom: 5px;
    }

    span.category {
      a {
        color: #bbbbbb;
        font-size: 14px;
        text-decoration: none;
      }
    }

    span.price {
      display: block;
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 5px;
    }
  }
}

.category-card {
  margin: 20px;
  background-color: red;
  width: 120px;
}

/* form */
form {
  input[type="text"] {
    border: none;
    outline: none;
    border: 1px solid #dfdfdf;
    padding: 1rem 1rem;
    font-size: 18px;
    width: calc(100% - 2rem);
    margin-bottom: 10px;
  }
}
