$primary-color: #FFC927;
$body-bg: #F5F5FA;

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

body {
  background-color: $body-bg;
}

.bg-primary {
  background-color: $primary-color;
  color: #000;
}

/* navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  a {
    text-decoration: none;
    color: #46586A;
  }

  .brand {
    height: 80px;
    line-height: 80px;
    padding-left: 1.5rem;
    width: 300px;
    border-right: 2px solid #F2F2F1;

    .brand-logo {
      font-size: 2.5rem;
      font-family: 'Bree Serif';
    }
  }

  ul {
    li {
      display: inline-block;

      &:first-child {
        border-right: 2px solid #F2F2F1;
        border-left: 2px solid #F2F2F1;
      }

      a {
        display: block;
        // background-color: yellow;

        height: 80px;
        line-height: 80px;
        padding: 0 1.5rem;
        color: #46586A;

        &.bg-primary {
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
  }
}
